<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A4492E831F4FF77A32FE39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA37DF537AF1F956F667431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90FFFFCDC33FD043A2D2E0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE848B758F76F2AC4C23DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B99C51ACBEC397DF2D5BB447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
