<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moya.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>MoyaTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>ReactiveMoya.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>RxMoya.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CBA0E4FC32C5178AB4CDAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392C8EAA85093EA84E687B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A43779946A55D45F99AFEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AA3DA156ACB9AC6FD50AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8628B6065A0E5D84709B6139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
